<section class="dashboard__main-container">
  <p>How are you feeling right now?</p>
  <div class="dashboard__spinner"></div>
  <div class="dashboard__create-entry-container">
    <div class="dashboard__entry-create">

      <%=link_to "﹢", new_entry_path, class: "dashboard__plus" %>
    </div>
    <p>Check in</p>
  </div>
</section>