
<h1>Edit comment</h1>

<div class="comments-new">
<%= form_with model: [@entry, @comment], local: true do |f| %>
    <div>
    <%= f.text_area :text, value: @comment.text, class: "comment-field" %>
    </div>
    <div class="actions">
    <%= f.submit 'Update', class: "comment-btn" %>
    </div>
    
<% end %>
</div>
