<h1>Comment</h1>

<div class="comments-show">

<% if @comment.present? %>
  <%= render @comment %>
<% else %>
  <p>No comment found.</p>

<% end %>

  <div class="comment-btn-group">
    <%= link_to 'Edit', edit_entry_comment_path(@entry, @comment), class: 'comment-btn' %> 
    <%= button_to entry_comment_path(@entry, @comment), method: :delete, class: "delete-comment-btn" do%>
      <i class="bi bi-trash"></i>
    <% end %>
  </div>
</div>