<section class="entries__dashboard-container">

  <div class="entries__dashboard-options">

    <div class="entries__dashboard-option entries__view-entries" data-url="<%= entries_path %>">
      <p>View Entries</p>
    </div>

    <div class="entries__dashboard-option entries__search-entries" data-url="<%= search_entries_path %>">
      <p>Search Entries</p>
    </div>

    <div class="entries__dashboard-option">
      <p>Analyze Entries</p>
    </div>
  </div>

</section>

<script>
    document.addEventListener('turbo:load', () => {
        document.querySelectorAll('.entries__dashboard-option').forEach((element) => {
            element.addEventListener('click', () => {
                console.log('click');
                const url = element.getAttribute('data-url');
                if (url) {
                    window.location = url;
                }
            });
        });
    });
</script>