<h1> My Friends </h1>

<% if @friends.present? && @friends.any? %>
  <ul class="friendships__show-container">
    <% @friends.each do |friendship| %>
      <li class="a-friend">

        <% if friendship.friend.profile_picture.attached? %>

          <%= image_tag url_for(friendship.friend.profile_picture),
                        width: 50, height: 50,
                        alt: "#{friendship.friend.username}",
                        class: "friend-profile-picture" %>

        <% end %>

        <%= friendship.friend.username %>

        <% if current_user.friendships.exists?(friend_id: friendship.friend.id) %>

          <%= button_to "Remove",
                        remove_friend_friendships_path(email: friendship.friend.email, username: friendship.friend.username),
                        method: :delete,
                        class: "btn btn-danger" %>
        <% end %>


      </li>
    <% end %>
  </ul>
<% else %>
  <p> You have no friends added yet. </p>
<% end %>