/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

@font-face {
  font-family: 'TiemposHeadline-Medium';
  src: url('TiemposHeadline-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'TiemposHeadline-MediumItalic';
  src: url('TiemposHeadline-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'TiemposHeadline-Light';
  src: url('TiemposHeadline-Light.otf') format('opentype');
}

@font-face {
  font-family: 'TiemposHeadline-Regular';
  src: url('TiemposHeadline-Regular.otf') format('opentype');
}

:root {
  --high_pleasant_base: #7e7445;
  --low_pleasant_base: #1a2c1c;
  --high_unpleasant_base: #2c1a1a;
  --low_unpleasant_base: #1a1c2c;

  --high_pleasant_text_base: #fbd454;
  --low_pleasant_text_base:  #9bfb54;
  --high_unpleasant_text_base: #fb5454;
  --low_unpleasant_text_base: #547bfb;

  --container-background-color-base: rgba(4, 2, 2, 0.47);
}


* {
  margin: 0;
  box-sizing: border-box;
  padding: 0px;
  font-family: "TiemposHeadline-Medium";
}

.app__navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
}

.app__navbar_left {
  display: flex;
  gap: 30px
}

.app__navbar_left button {
  border: none;
  border-radius: 50px;
  padding: 10px;
  width: 150px;
  background-color: #D9D9D9;
}

.app__navbar_left .navbar-btn {
  display: inline-block;
  border: none;
  border-radius: 50px;
  padding: 10px;
  width: 150px;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  color: #000;
}

.app__navbar_right {
  border: none;
  border-radius: 100px;
  width: 60px;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
}

//dashboard styles ------------------------------

.dashboard__main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  position: relative;
  gap: 20px
}

.dashboard__main-container p {
  font-size: 40px;
  color: white;
}

.dashboard__spinner {
  width: 450px;
  padding: 30px;
  aspect-ratio: 1;
  border-radius: 80%;
  background: #6e6e6e;
  --_m: conic-gradient(#0000 30%, #000),
  linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: spin 12s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(1turn)
  }
}

.dashboard__create-entry-container {
  position: absolute;
  top: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dashboard__create-entry-container button {
  border: none;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  font-size: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard__entry-create {
  border: none;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.dashboard__entry-create p {
  color: black;
  font-size: 60px !important;
  margin-top: 20px;
  position: absolute;
}


.dashboard__create-entry-container p {
  font-size: 25px;
}


//entries index styles ------------------------------
.entries__index-all-entries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: white;
}

.entries__index-entry-container {
  background: #1a2c1c;
  padding: 20px;
  width: 100%;
  position: relative;
  border-radius: 20px;
  max-width: 700px;
  cursor: pointer;
  overflow: hidden;
}

.entries__index-low-energy-unpleasant {
  background: var(--low_unpleasant_base);
}

.entries__index-high-energy-pleasant {
  background: var(--high_pleasant_base);
}

.entries__index-high-energy-unpleasant {
  background: var(--high_unpleasant_base);
}

.entries__index-low-energy-unpleasant .entries__show-emotion-label {
  color: var(--low_unpleasant_text_base)

}

.entries__index-high-energy-pleasant .entries__show-emotion-label {
  color: var(--high_pleasant_text_base)
}

.entries__index-high-energy-unpleasant .entries__show-emotion-label {
  color: var(--high_unpleasant_text_base)
}

.entries__index-low-energy-pleasant .entries__show-emotion-label {
  color: var(--low_pleasant_text_base)
}

.entries__index-blob {
  position: absolute;
  z-index: 99;
  transform: translateX(400px) translateY(10px);
  top: -50px;
}

.entries__index-entry-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entries__index-entry-header-left {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.entries__index-entry-header-left-tags-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 500px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.entries__index-entry-header-left-tags-container p {
  border: 1px white solid;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 10px;
  margin: 0;

}

.entries__index-entry-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.entries__index-entry-footer-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.entries__index-entry-footer-left p {
  margin: 0;
  font-size: 30px;
}

.entries__index-entry-footer-left span {
  font-family: TiemposHeadline-MediumItalic;
  font-size: 35px;
}

.entries__index-entry-header-right {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entries__index-entry-header-right img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.entries__index-entry-footer-right img {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  object-fit: cover;
  border: solid 1px white;
}


//entries show styles ------------------------------

body.entries.show, body.entries.edit, body.entries.friend_entry_show {
  min-height: 100vh;
  overflow-x: hidden;
  background-attachment: fixed;
  background-size: cover;
}

body.entries__show-high-energy-pleasant {
  background: linear-gradient(0deg, #393722 0%, #000000 100%);
}

body.entries__show-high-energy-pleasant .entries__show-emotion-label {
  color: var(--high_pleasant_text_base)
}

body.entries__show-high-energy-unpleasant {
  background: linear-gradient(0deg, #2c1a1a 0%, #000000 100%);
}

body.entries__show-high-energy-unpleasant .entries__show-emotion-label {
  color: var(--high_unpleasant_text_base)
}

body.entries__show-low-energy-pleasant {
  background: linear-gradient(0deg, #1a2c1c 0%, #000000 100%);
}

body.entries__show-low-energy-pleasant .entries__show-emotion-label {
  color: var(--low_pleasant_text_base)
}

body.entries__show-low-energy-unpleasant {
  background: linear-gradient(0deg, #1a252c 0%, #000000 100%);
}

body.entries__show-low-energy-unpleasant .entries__show-emotion-label  {
  color: var(--low_unpleasant_text_base)
}

.entries__show-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 10px
}

.entries__show-profile-picture {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border: solid 1px white;
}

.entries__show-emotion-symbol {
  color: white;
}

.entries__show-emotion-header {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;
}

.entries__show-emotion-header p {
  margin: 0px;
}

.entries__show-emotion-header :first-child {
  color: white;
  font-size: 30px;
  font-style: italic;
}

.entries__show-emotion-header :last-child {
  font-size: 25px;
}

.entries__show-options-container {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin-bottom: 80px;
  z-index: 2;
}

.entries__show-options-container .btn {
  padding: 5px;
  width: 100%;
  background-color: rgba(126, 132, 128, 0.2);
  border: white solid 1px;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

.entries__show-options-container button {
  padding: 5px;
  width: 100%;
  background-color: rgba(126, 132, 128, 0.2);
  border: white solid 1px;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

.entries__show-info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(126, 132, 128, 0.2);

  padding: 15px;
  align-items: end;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
}

.entries__show-tags-container {
  color: white;
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: end;
  gap: 20px;
}

.entries__show-tags-container p {
  margin: 0px;
  border: solid white 1px;
  border-radius: 10px;
  padding: 5px 10px;
  text-align: justify;
  font-size: 10px;
}

.entries__show-date-container {
  color: white;
  display: flex;
  justify-content: start;
  align-items: start;
}

.entries__show-date-container p {
  margin: 0px;
}

.entries__show-entry-text-container {
  color: white;
  background-color: rgba(126, 132, 128, 0.2);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 600px;
}

.entries__show-entry-text-container p {
  margin: 0;
}

.entries__show-entry-text-container :last-child {
  margin: 0;
  font-family: TiemposHeadline-Light;
}

.entries__show-comments-container {
  background-color: rgba(126, 132, 128, 0.2);
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 99;
  gap: 10px
}

.entries__show-comment-container {
  display: flex;
  flex-direction: row;
  background-color: rgba(126, 132, 128, 0.5);
  border-radius: 5px;
  border: 1px solid;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.entries__show-comment-container-start {
  display: flex;
  align-items: center;
  gap: 10px
}

.entries__show-comment-container img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.entries__show-comment-container-text {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.entries__show-comment-container-end {
  display: flex;
  gap: 10px;
  align-items: center;
}

.entries__show-comment-container-end .btn {
  padding: 10px;
}

.entries__show-comment-container-end :first-child {

}

.entries__show-comment-container :first-child {

}

//.entries__show-comment-container :last-child {
//  width: 70%;
//  margin: 0px;
//  font-size: 12px;
//}

.entries__show-comment-container p {
  margin: 0;
}

.entries__show-blob {
  position: absolute;
  z-index: 1;
  transform: translateX(300px) translateY(20px);
  top: -50px;
}

.entries__show-blob-2 {
  position: absolute;
  z-index: 1;
  transform: translateX(-300px) translateY(250px);
  top: -50px;
}


//entries new styles

.entries__new-content-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.entries__new-header  {
  color: white;
  border: 1px solid;
  width: 100%;
  max-width: 600px;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  margin: auto auto 30px;
}

.entries__new-header p {
  margin: 0px;
}

.entries__new-info-container {
  display: flex;
  flex-direction: row;
  background-color: var(--container-background-color-base);
  max-width: 600px;
  width: 100%;
  padding: 15px;
  align-items: end;
  border-radius: 10px;
  justify-content: space-between;
  margin-top: 30px;
}

.entries__new-info-container p {
  margin: 0px;
}

.entries__new-emotion-selector-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.entries__new-private-public-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 400px;
}

.app__form-partial-public-checkbox {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.entries__new-tags-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  width: 100%;
  border: 1px white;
  margin-top: 30px;
}

.entries__new-tags-container div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0 40px;
}

.entries__new-tags-container div p {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
}


.entries__new-tags-container input[type="checkbox"] {
  display: none;
}


.entries__new-tag-label {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  background-color: black;
}

input[type="checkbox"]:checked + .entries__new-tag-label {
  background-color: white;
  color: black;
}

.entries__new-text-container {
  width: 100%;
  max-width: 600px;
}

.entries__new-text-container label {
  font-size: 30px;
}

.entries__new-text-field {
  width: 100%;
  max-width: 600px;
  background-color: black;
  border: 1px white solid;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.entries__new-submit-button {
  background-color: black;
  color: white;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 20px;
  margin-bottom: 100px;
  max-width: 600px;
}

.entries__edit-header  {
  display: flex;
  justify-content: center;
  color: white;
  border: 1px solid;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  width: 100%;
  margin: auto;
  max-width: 600px;

  align-items: center;
  flex-direction: column;
}

.entries__edit-header p {
  margin: 0;
}




//-------------------- old styles

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #000000;
  margin: 0;
  //padding: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #444;
}

.header-actions {
  text-align: center;
  margin-bottom: 20px;
}

.new-entry-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.new-entry-button:hover {
  background-color: #0056b3;
}

.entries-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.entry-card {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.entry-title {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
}

.entry-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.show-button {
  background-color: #39bf5a;
}

.show-button:hover {
  background-color: #218838;
}

.edit-button {
  background-color: #007bff;
}

.edit-button:hover {
  background-color: #0056b3;
}

.delete-button {
  background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

.friend-list {
    list-style: none;
    align-items: center;

}

.a-friend {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.friend-profile-picture {
    border-radius: 50%;
    object-fit: cover;

}

//log in and sign up styles ------------------------------
.login-card {
  background-color: #000000;
  color: #d4cbcb;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card-header {
  margin-left: 30%;
}

.login {
  background-color: black;
  color: white;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 20px;
  margin-bottom: 100px;
  max-width: 600px;
}

.sign-up {
  background-color: black;
  color: white;
  width: 100%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 20px;
  margin-bottom: 100px;
  max-width: 600px;
}